# Allow system
allow priv_app unlabeled:filesystem getattr;
allow priv_app dmabuf_system_heap_device:chr_file { read write open ioctl };

allow priv_app qemu_hw_prop:file { read open getattr };

binder_use(priv_app)
binder_call(priv_app, system_server)

# Allow MediaProvider
allow priv_app mediaprovider:binder { call transfer };
allow priv_app mediaprovider_app:binder { call transfer };
