get_prop(priv_app, system_odm_camera_prop)
get_prop(priv_app, vendor_persist_camera_prop)
allow priv_app system_odm_camera_prop:file { read getattr open };
allow priv_app unlabeled:filesystem { getattr };

